[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falkordb = "*"
pandas = "*"

[dev-packages]
pytest = "==8.4.1"
pytest-cov = "==6.2.1"
coverage = "==7.10.2"

[requires]
python_version = "3.12"
